In [2]:
from typing import Dict, Union, Optional
import pprint

Key = Union[str,int]
Value = Union[str,int,list, dict,tuple,set]
data : Dict[Key,Value] = {
                        "fname":"Sauleh", # colon is used as seperater
                        "khala_name":"Yousuf khala",
                        "age":11,
                        }
print("before", data)
print("after", data)

methods : list[str] = [m for m in dir(data) if "__" not in m]
print(methods)
# pop.data -> removes last item
# popitem.data -> removes last item
# del.data -> deletes objects permanently
# clear.data -> clear all pervious data
# data.get('Pak', NA) -? does not let error pop instead sends a defined msg/ADDS NEW VALUE
# data.update(data1)

before {'fname': 'Sauleh', 'khala_name': 'Yousuf khala', 'age': 11}
after {'fname': 'Sauleh', 'khala_name': 'Yousuf khala', 'age': 11}
['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [3]:
data : Dict[Key,Value] = {
                        "fname":"Sauleh", # colon is used as seperater
                        "khala_name":"Yousuf khala",
                        "age":11,
                        }
data1 : Dict[Key,Value] = {
                        "fname":"Sauleh", # colon is used as seperater
                        "khala":"Hira",
                        "age":17,
                        }
data.update(data1)
print(data)

{'fname': 'Sauleh', 'khala_name': 'Yousuf khala', 'age': 17, 'khala': 'Hira'}

In [9]:
import pandas as pd
from typing import Any, Dict

student_data : Dict[str, list[Any]] = {
  "roll_no":[1, 2, 3],
  "name":["Hira", "Sauleh", "Qasim"],
  }
df : pd.DataFrame = pd.DataFrame(student_data)
df

   roll_no    name
0        1    Hira
1        2  Sauleh
2        3   Qasim