# Python operators
* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [ ]:
# !pip install lxml

# Python Arithmetic Operators

In [7]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [12]:
a: int = 11
b: int = 3

print(11 + b)
print(a - 3)
print(a * b)
print(a ** b)
display(a / b)
display(a // b)
print(a % 3)

14
8
33
1331

3.6666666666666665

3

2

# Python Assignment Operators

In [13]:
#the following table is 'data frame' which can be manupilated 

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [16]:
a: int = 3
a += 2
print(a)

a: int = 3
a -= 2
print(a)

a: int = 3
a *= 2
print(a)

a: int = 3
a /= 2
print(a)

5
1
6
1.5

# Python Comparison Operators

In [17]:
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [21]:
a: int = 11
b: int = 3

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a <= b)
print(a >= b)

#ASCII Table defines numerical value of alphabets as seen below; 

a: str = "A" #65
b: str = "B" #66
print(a >= b)
print(a <= b)

False
True
True
False
False
True
False
True

In [24]:
#ASCII standards to convert ALPHABETS into NUMBERS

print(chr(65))

#ASCII standards to convert NUMBERS into ALPHABETS

print(ord("A"))

A
C
65

# Python Logical Operators

In [19]:
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [30]:
name: str = "Sauleh"
display(not name == "Sauleh") #not

a: int = 4
b: int = 4
print(a == b or a >= b) #or
display(a > b and a == b) #and

True

False

# Python Identity Operators

In [31]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [36]:
y: str = "xyz"
z: str = "xyz"

display(id(y)) #memory address (1611614624704)
display(id(z)) #memory address (1611614624704)

print(y is z) #is
print(y is not z) #is not

1611614624704

1611614624704

True

# Python Membership Operators

In [37]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [40]:
name: list[str] = [chr(i) for i in range(65,91)]
name

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [43]:
#old ways of coding
name: list[str] = [chr(i) for i in range(65,91)]
for i in range(len(name)):
  print(i, name[i])
  if name[i] == "D":
    print(True)
    break

0 A
1 B
2 C
3 D
True

In [50]:
# in returns True or False

alphabet: list[str] = [chr(i) for i in range(65,91)]

"C" in alphabet 
"Pakistan" in alphabet

True

In [51]:
name: list[str] = ["Hira","Sauleh"]
"Sauleh" in name

True

In [ ]:
#'is' works on memory level
#'!=' works on value level comparison

# 'for in' extracts iteration from 'for' and added 'in' local variable
# 'in' checks single left sided elements iteration

In [55]:
name: list[str] = ["Hira","Sauleh", "Zia", "Khan"]
user_input: str = input("Enter your name:")
#'input' function is used to take input from user in runtime

user_input in name
user_input not in name

False

# Operator Precedence

<img src="https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg">

# PEMDAS
* P - Parentheses: ()
* E - Exponents: such as powers and square roots
* MD - Multiplication and Division
* AS - Addition and Subtraction

In [ ]:
#code for above image;
# <img src="https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg">

In [56]:
#unzip

a , b , c = 7 , "Hira" , 3.0
display(a)
display(b)
display(c)

7

'Hira'

3.0

In [58]:
data = ("Sauleh", 7, 2.7)
print(*data)

"a" * 3

Sauleh 7 2.7

'aaa'

# Walrus Operator

In [61]:
a: int = 5
if (a > (b := a+5)):
  print(b)
else:
  print("walrus operator practice")

walrus operator practice