# LIST
* ITERATION OPERATION WITH LOOP
* APPLY ANY OPERATION ON ELEMENT

In [9]:
#old ways

names: list[str] = ["zia","sauleh","sarah"]
i: int = 0 #counter

while i<len(names): #length is 3
    print(names[i])
    i += 1 

'''
names: list[str] = ["zia","sauleh","sarah"]
    for (i=0; i < names.length; i++) {
        names[i]
    }
'''

zia
sauleh
sarah

In [15]:
 # new version of looping and iteration is easy and readable introduced by ADVANCED PYTHON

names: list[str] = ["sir zia","qasim bhai","okasha"]
for name in names:
    print(name)

sir zia
Qasim bhai
Okasha

in html '< br >' is used as enter and '& nbsp;  ' is used as tab

for name in names: <br> &nbsp; print(name)

In [21]:
for name in names:
    print(f'{name.title()} is my mentor')
    print('PIAIC Umbrella\n')
print('Pakistan')

Sir Zia is my mentor
PIAIC Umbrella

Qasim Bhai is my mentor
PIAIC Umbrella

Okasha is my mentor
PIAIC Umbrella

Pakistan

In [26]:
#slicing 
for name in names[:2]:
    print(f'{name.title()} is my mentor')

Okasha is my mentor
Qasim Bhai is my mentor
Sir Zia is my mentor

In [27]:
for name in names[:-2:-1]:
    print(f'{name.title()} is my mentor')

Okasha is my mentor

In [8]:
#tuple is immutable: wont change in future
data_base : list[tuple[str, str]] = [("hira", "123"), 
                                    ("zia", "456")]
for row in data_base:
  print(row)

('hira', '123')
('zia', '456')

In [10]:
#tuple is immutable: wont change in future
data_base : list[tuple[str, str]] = [("hira", "123"), 
                                    ("zia", "456")]
for row in data_base:
  user, password = row
  print(user, password)

hira 123
zia 456

In [26]:
data_base : list[tuple[str, str]] = [("hira", "123"), 
                                     ("zia", "456"),
                                     ("qasim", "656"),
                                     ("wasay", "1000"),
                                     ("sauleh", "54321")]

user_ID : str = input("Your user_ID please:")
user_password : str = input("Your password please:")

for row in data_base:
  user , password = row
  if user_ID == user and user_password == password:
    print(f"{user} is Valid User!")
    break
else: #only in python, 'else' can be used with 'for'
  print("Invalid User!")

hira is Valid User!

In [36]:
#if else statement small example;

names : str = "ccc"
if names == "ccc":
    print(names)
else:
  print("wrong input")

Invalid User!

In [27]:
names : list[str] = ["ccc", "bbb", "aaa"]
for name in names:
  print(name)
  break
print("Pakistan")

ccc
Pakistan

In [39]:
names : list[str] = ["ccc", "bbb", "aaa"]
for name in names:
  print(name)
  break
else: 
  "Pakistan"

ccc

In [51]:
magicians : list[str] = ["carolina", "david", "alice"]
for magician in magicians:
  print(f"{magician.title()} is fake.\n") #local block 
print(f"{magician.title()} is fake.") # only in PYTHON even in global block, last iteration of list works in global scope.

Carolina is fake.

David is fake.

Alice is fake.

Alice is fake.

In [ ]:
magicians = "carolina"
#  print(magicians) # unnecessory indent or space will generate error

# Numbers in Loop
* range(start:end:step/sequence).
* range is a generative function which does not run with 1 input.
* to run range => perdorm iteration on range through list function as seen in below example;

In [53]:
list(range(10)) #starts from 0 ends at n-1 which would be 9 in this case

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
list(range(2,9)) #starts from 2 ends at n-1 which would be 8 in this case

[2, 3, 4, 5, 6, 7, 8]

In [55]:
list(range(1,10,3)) #starts from 1 ends at 9 and sequence would be 3 in this case

[1, 4, 7]

In [ ]:
# IN TYPESCRIPT
'''
n = 0
for (i=2, i<21, i+=1) {
  console.log(n)
}
'''

In [57]:
magicians : list[str] = ["hey", "hi", "hello"]
list(enumerate(magicians))

[(0, 'hey'), (1, 'hi'), (2, 'hello')]

In [61]:
magicians : list[str] = ["hey", "hi", "hello"]
for index, name in enumerate(magicians):
  print(index, name)

0 hey
1 hi
2 hello

In [63]:
for n in range(2,21,2):
  print(n)

2
4
6
8
10
12
14
16
18
20

In [64]:
for n in range(1, 11):
  print(f"2 X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [66]:
squares : list[int] = []
for value in range(1, 11):
  square = value ** 2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# COMPREHENSIVE LIST

* comprehensive style we write code in one like as seen below;
* loop_body for item in items_list

In [71]:
# for item in items_list:
#   loop_body
# print()

# loop_body for item in items_list

In [73]:
# old style
# for i in range(1, 11):
#   print(i**2)

#comprehensive style

[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [75]:
digits : list[int] = [1,2,3,4,5,6,7,8,0,9]
print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 0, 9]
9
0
45

DEEP COPY

In [77]:
myfood = ["burger", "pizza"]
yourfood = myfood[:] #deep copy 

yourfood[0] = "Tikka" #advantage of slicing

print(myfood)
print(yourfood)

['burger', 'pizza']
['Tikka', 'pizza']

# Tuple
* immutable
* nothng can append because of its constant nature
* elements can be assined to objects in tuple but it will have no effect on tuple itself
* tuple ()
* can be over-written, reinitialized but it can never change
multiple values can be assigned

In [78]:
from typing import Any
data : tuple[Any] = ["Pakistan", [1,2,3], True]
data[1].append(20)
print(data)

['Pakistan', [1, 2, 3, 20], True]